@font-face {
  font-family: 'Sierra';
  src: url('fonts/sierra-sci-menu-font.ttf') format('truetype');
}
body, html {
  background-color:#DCDCDC;
}

body {
  margin: 0;
  font-family: 'Sierra', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
